
body {
    background-color:yellow;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    }

.bg-body-barra {
    background-color: black;
}

.colors {
    color: yellow;
}

